
$region-width: 10rem;
$stat-width: 6rem;
$border-color: #ccc;
.component-container{
    width: 100%;
    position: relative;
    margin-top: 0.2rem;
}

.line{
    position: absolute;
    top: -0.2rem;
    height: 0.2rem;
    width: 6rem;
    left: -6rem;
    z-index: -1;
    transition: left 0.2s ease-out
}
.primary-line{
    background-color: #0063ff;
}
.secondary-line{
    background-color: #ff3333;
    z-index: -2;
}

.table-header-static-container{
    display: flex;
    background: white;
}
.table-header-fixed-container{
    z-index: 200;
    position: fixed; top: 0; left: 0; right: 0;
    display: flex;
    background: white;
    .table-header-spacer{
        z-index: 200;
        border-bottom: none;
        box-shadow: inset 0 0 0 0.2rem white, 0 0.2rem 0.2rem gray;
        &.shadow{
            box-shadow: inset 0 0 0 0.2rem white, 0 0.2rem 0.2rem gray, 0.1rem 0 0.1rem gray;
        }
    }
    .table-header{
        z-index: 100;
        border-bottom: none;
        box-shadow: 0 0.2rem 0.2rem gray;
    }
    .table-header-cell{
        border-bottom: none;
    }
}

.table-header-spacer{
    min-width: $region-width;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    box-shadow: none;
    transition: box-shadow 0.2s;
    &.shadow{
        box-shadow: 0.1rem 0 0.1rem gray;
    }
}
.table-header{
    overflow-x: hidden;
}
.table-header-row{
    display: flex;
}
.table-header-cell{
    width: $stat-width;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:last-child{
        border-right: 1px solid $border-color;
    }
    cursor: pointer;
}

.table-body-container{
    display: flex;
}
.table-region-column{
    z-index: 50;
    min-width: $region-width;
    box-shadow: none;
    transition: box-shadow 0.2s;
    &.shadow{
        box-shadow: 0.1rem 0 0.1rem gray;
    }
    
}
.table-region-cell{
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
}
.table-data{
    flex: 1;
    min-width: 1px;
    overflow-x: auto;
    //border: 1px solid purple;
}
.table-data-row{
    //border: 1px solid orange;
    display: flex;
    width: $stat-width * 6
}
.table-data-cell{
    width: $stat-width;
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:last-child{
        border-right: 1px solid $border-color;
    }
}