
$region-width: 160px;
$stat-width: 120px;
$border-color: #ccc;
.component-container{
    width: 100%;
    position: relative;
    margin-top: 0.2rem;
}

.line{
    position: absolute;
    top: -3px;
    height: 3px;
    width: $stat-width;
    left: -$stat-width;
    z-index: -1;
    transition: left 0.2s ease-out
}
.primary-line{
    background-color: #0063ff;
}
.secondary-line{
    background-color: #ff3333;
    z-index: -2;
}

.table-header-static-container{
    display: flex;
    background: white;
}
.table-header-fixed-container{
    z-index: 200;
    position: fixed; top: 0; left: 0; right: 0;
    display: flex;
    background: white;
    box-shadow: 0 0.2rem 0.2rem gray;
}

.table-header-spacer{
    min-width: $region-width;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    transition: box-shadow 0.2s;
    &.shadow{
        border-right: 1px solid #888;
    }
}
.table-header-scroll-hide{
    overflow: hidden;
}
.table-header{
    overflow-x: auto;
}
.table-header-row{
    display: flex;
}
.table-header-cell{
    width: $stat-width;
    border-top: 1px solid $border-color;
    border-left: 1px solid $border-color;
    &:last-child{
        border-right: 1px solid $border-color;
    }
    cursor: pointer;
}

.table-body-container{
    display: flex;
}
.table-region-column{
    z-index: 50;
    min-width: $region-width;
    transition: box-shadow 0.2s;
    &.shadow{
        border-right: 1px solid #888;
    }
    
}
.table-region-cell{
    border-left: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    &:first-child{
        border-top: 1px solid $border-color;
    }
}
.table-data{
    flex: 1;
    min-width: 1px;
    overflow-x: auto;
}
.table-data-row{
    display: flex;
    border-bottom: 1px solid $border-color;
    &:first-child{
        border-top: 1px solid $border-color;
    }
}
.table-data-cell{
    width: $stat-width;
    border-left: 1px solid $border-color;
    &:last-child{
        border-right: 1px solid $border-color;
    }
}