<div *ngIf="stats && stats.length" class="component-container" #componentContainer>
    <div class="table-header-static-container">
        <div class="table-header-static">
            <div class="line primary-line" #primaryLine></div>
            <div class="line secondary-line" #secondaryLine></div>
            <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
        </div>
    </div>
    <div class="table-header-fixed-container" [style.top]="fixedHeader ? '0' : '-1000px'" [style.right.px]="scrollbarWidth">
        <div class="table-header-fixed">
            <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
        </div>
    </div>
    <div class="table-body-container">
        <div class="table-region-column" [class.shadow]="scrollLeft">
            <div block-render [items]="tableRowList" [itemHeight]="25">
                <ng-template #itemTemplate let-row="item">
                    <div class="table-region-cell">
                        {{row.region}}
                    </div>
                </ng-template>
            </div>
        </div>
        <div class="table-data" #tableData>
            <div block-render [items]="tableRowList" [itemHeight]="25">
                <ng-template #itemTemplate let-row="item">
                    <div [style.width]="rowWidth" class="table-data-row">
                        <div *ngFor="let index of tableValueIndexes" class="table-data-cell">
                            {{row.values[index]}}
                        </div>
                    </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>
<ng-template #templateHeader>
    <div class="table-header-spacer" [class.shadow]="scrollLeft">
        Region
    </div>
    <div class="table-header">
        <div class="table-header-row" [style.width]="rowWidth">
            <div *ngFor="let stat of stats; let i = index" class="table-header-cell" (click)="headerClicked($event, i)">
                {{stat.title}}
            </div>
        </div>
    </div>

</ng-template>