<div *ngIf="stats && stats.length" class="component-container" #componentContainer>
    <div class="table-header-static-container">
        <div class="table-header-static">
            <div class="line primary-line" #primaryLine></div>
            <div class="line secondary-line" #secondaryLine></div>
            <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
        </div>
    </div>
    <div class="table-header-fixed-container" [style.top]="fixedHeader ? '0' : '-1000px'" [style.right.px]="scrollbarWidth">
        <div class="table-header-fixed">
            <ng-container *ngTemplateOutlet="templateHeader"></ng-container>
        </div>
    </div>
    <div class="table-body-container">
        <div class="table-region-column" [class.shadow]="scrollLeft">
            <div *ngFor="let row of tableRowList" class="table-region-cell">
                {{row.region}}
            </div>
        </div>
        <div class="table-data" #tableData>
            <div *ngFor="let row of tableRowList" [style.width]="rowWidth" class="table-data-row">
                <div *ngFor="let value of row.values" class="table-data-cell">
                    {{value}}
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #templateHeader>
    <div class="table-header-spacer" [class.shadow]="scrollLeft">
        Region
    </div>
    <div class="table-header">
        <div class="table-header-row" [style.width]="rowWidth">
            <div *ngFor="let stat of stats; let i = index" class="table-header-cell" (click)="headerClicked($event, i)">
                {{stat.title}}
            </div>
        </div>
    </div>

</ng-template>