<div class="row mt-2">
    <div class="col-sm-6">
        <div style="position: relative" class="mt-2">
            <p style="top: 0.4rem;  left: 0; right: 0; position: absolute; pointer-events: none;" class="text-center">
                Paste Spreadsheet Columns Here
            </p>
            <textarea class="form-control" style="resize: none;" rows="1.5"
                [ngModel]="tsv" (ngModelChange)="tsvChanged($event)" (paste)="spreadsheetPaste($event)"></textarea>
        </div>
        <div class="text-center">
            <span>or</span>
        </div>
        <div style="position: relative;">
            <input type="file" multiple id="file-input" (change)="fileChange($event)" style="position: fixed;left: 100%;">
            <label class="btn btn-outline-primary btn-block" for="file-input" [style.background]="isDragging ? '#e0f0ff' : ''"
                (mouseenter)="fileUploadHover=true" (mouseleave)="fileUploadHover=false" (dragenter)="dragEnter($event)"
                (dragleave)="dragLeave($event)" (dragover)="dragOver($event)" (drop)="drop($event)">
                {{fileUploadHover ? "Browse Files" : isDragging ? "Drop Files Here" : "Drag Spreadsheet Files
                Here"}}
            </label>
        </div>
    </div>
    <div class="col-sm-6" [class.mt-2]="!regionIntermediary">
        <div class="row">
            <div class="col-7">
                <label class="mt-1 mb-1">Region Column</label>
            </div>
            <div class="col-5">
                <select class="form-control form-control-sm" [(ngModel)]="selectedRegionColumn">
                    <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="mt-1 mb-1">Values Column</label>
            </div>
            <div class="col-5">
                <select class="form-control form-control-sm" [(ngModel)]="selectedValueColumn">
                    <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-7">
                <label class="mt-1 mb-1">Start at Row</label>
            </div>
            <div class="col-5">
                <input class="form-control form-control-sm" style="padding-left: 0.75rem;" [(ngModel)]="startAtRow">
            </div>
        </div>
        <div class="row" *ngIf="regionIntermediary">
            <div class="col-7">
                <label class="mt-1 mb-1">Intermediary Region</label>
            </div>
            <div class="col-5">
                <select class="form-control form-control-sm" [(ngModel)]="selectedIntermediaryColumn">
                    <option [ngValue]="'Filename'">Filename</option>
                    <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                </select>
            </div>
        </div>
    </div>
</div>
<div class="invalid-feedback" [style.display]="dataLoadError ? 'block' : 'none'">
    {{dataLoadError}}
</div>
<div class="row mt-2">
    <div class="col-auto">
        <button class="btn btn-sm btn-outline-success" (click)="addData()">
            <i class="fas fa-plus"></i>
            Add Single Data Point
        </button>
        <span class="ml-2" *ngIf="data">{{data.length}} rows</span>
    </div>
    <div class="col"></div>
    <div class="col-auto">
        <button *ngIf="data && data.length" class="btn btn-sm btn-outline-danger" (click)="removeAllData()">
            Remove All Data
        </button>
    </div>
</div>
<div *ngIf="!regionIntermediary">
    <div class="row mt-2">
        <div class="col-5">
            <strong class="pl-2">
                <span class="pl-1">{{regionType}}</span>
            </strong>
        </div>
        <div class="col-5">
            <strong class="pl-2">
                <span class="pl-1">Value</span>
            </strong>
        </div>
    </div>
    <div class="row mt-1" block-render [items]="data" [itemHeight]="36">
        <ng-template #itemTemplate let-data="item" let-index="index">
            <div class="col-5">
                <input class="form-control" [(ngModel)]="data.r">
            </div>
            <div class="col-5">
                <input type="number" class="form-control" [(ngModel)]="data.v">
            </div>
            <div class="col-2">
                <button class="btn btn-outline-secondary" (click)="removeData(index)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </ng-template>
    </div>
</div>
<div *ngIf="regionIntermediary">
    <div class="row mt-2">
        <div class="col-4">
            <strong class="pl-2">
                <span class="pl-1">{{regionIntermediary}}</span>
            </strong>
        </div>
        <div class="col-4">
            <strong class="pl-2">
                <span class="pl-1">{{regionType}}</span>
            </strong>
        </div>
        <div class="col-3">
            <strong class="pl-2">
                <span class="pl-1">Value</span>
            </strong>
        </div>
    </div>
    <div class="row mt-1" block-render [items]="data" [itemHeight]="36">
        <ng-template #itemTemplate let-data="item" let-index="index">
            <div class="col-4">
                <input class="form-control" [(ngModel)]="data.i">
            </div>
            <div class="col-4">
                <input class="form-control" [(ngModel)]="data.r">
            </div>
            <div class="col-3">
                <input type="number" class="form-control" [(ngModel)]="data.v">
            </div>
            <div class="col-1">
                <button class="btn btn-outline-secondary" (click)="removeData(index)">
                    <i class="fas fa-times"></i>
                </button>
            </div>
        </ng-template>
    </div>
</div>
