<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'main'" (click)="setTab('main')" tabindex>Main Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'source'" (click)="setTab('source')" tabindex>Source</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'data'" (click)="setTab('data')" tabindex>Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'ipfs'" (click)="setTab('ipfs')" tabindex>IPFS</a>
    </li>
</ul>
<div *ngIf="tab == 'main'">
    <div class="row mt-2">
        <div class="col-3">
            <label for="stat-title-input" class="col-form-label">Title</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="stat-title-input" [(ngModel)]="selectedStat.title">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-name-input" class="col-form-label">Region Name</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-name-input" [(ngModel)]="selectedStat.regionName">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-type-input" class="col-form-label">Region Type</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-type-input" [(ngModel)]="selectedStat.regionType">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-intermediary-input" class="col-form-label">Region Intermediary</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-intermediary-input" [(ngModel)]="selectedStat.regionIntermediary">
        </div>
    </div>
</div>
<div *ngIf="tab == 'source'">
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-title-input" class="col-form-label">Source Title</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-title-input" [(ngModel)]="source.title" (ngModelChange)="sourceChanged()">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-publisher-input" class="col-form-label">Publisher</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-publisher-input" [(ngModel)]="source.publisher" (ngModelChange)="sourceChanged()">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-year-input" class="col-form-label">Source Year</label>
        </div>
        <div class="col-9">
            <input type="number" max="9999" class="form-control" id="source-year-input" [(ngModel)]="source.year" (ngModelChange)="sourceChanged()">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-url-input" class="col-form-label">Source URL</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-url-input" [(ngModel)]="source.url" (ngModelChange)="sourceChanged()">
        </div>
    </div>
</div>
<div *ngIf="tab == 'data'">
    <data-tab-component [(data)]="selectedStat.data" [regionType]="selectedStat.regionType" [regionIntermediary]="selectedStat.regionIntermediary"></data-tab-component>
</div>
<div *ngIf="tab == 'ipfs'">
    <div class="row mt-2">
        <div class="col-3">
            <label for="ipfs-name-input" class="col-form-label">Name</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="ipfs-name-input" [(ngModel)]="ipfsName">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="ipfs-tripcode-input" class="col-form-label">Tripcode Key</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="ipfs-tripcode-input" [(ngModel)]="ipfsTripcode">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="ipfs-category-input" class="col-form-label">Category</label>
        </div>
        <div class="col-9">
            <select class="form-control" [(ngModel)]="ipfsCategory">
                <option *ngFor="let category of ipfsCategories" [ngValue]="category">{{category}}</option>
            </select>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col">
            <div class="form-check ml-1">
                <input type="checkbox" class="form-check-input" id="remember-publish-info">
                <label class="form-check-label" for="remember-publish-info">Remember Publish Info</label>
            </div>
        </div>
        <div class="col-auto">
            <button class="btn btn-success" (click)="publishStat()">Publish Stat</button>
        </div>
    </div>
    <div class="invalid-feedback" [style.display]="publishError ? 'block' : 'none'">
        {{publishError}}
    </div>
</div>