<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'main'" (click)="setTab('main')" tabindex>Main Info</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'source'" (click)="setTab('source')" tabindex>Source</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'data'" (click)="setTab('data')" tabindex>Data</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [class.active]="tab == 'ipfs'" (click)="setTab('ipfs')" tabindex>IPFS</a>
    </li>
</ul>
<div *ngIf="tab == 'main'">
    <div class="row mt-2">
        <div class="col-3">
            <label for="stat-title-input" class="col-form-label">Title</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="stat-title-input" [(ngModel)]="selectedStat.title">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-name-input" class="col-form-label">Region Name</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-name-input" [(ngModel)]="selectedStat.regionName">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-type-input" class="col-form-label">Region Type</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-type-input" [(ngModel)]="selectedStat.regionType">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="region-intermediary-input" class="col-form-label">Region Intermediary</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="region-intermediary-input" [(ngModel)]="selectedStat.regionIntermediary">
        </div>
    </div>
</div>
<div *ngIf="tab == 'source'">
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-title-input" class="col-form-label">Source Title</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-title-input" [(ngModel)]="selectedStat.source.title">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-publisher-input" class="col-form-label">Publisher</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-publisher-input" [(ngModel)]="selectedStat.source.publisher">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-year-input" class="col-form-label">Source Year</label>
        </div>
        <div class="col-9">
            <input type="number" max="9999" class="form-control" id="source-year-input" [(ngModel)]="selectedStat.source.year">
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-3">
            <label for="source-url-input" class="col-form-label">Source URL</label>
        </div>
        <div class="col-9">
            <input class="form-control" id="source-url-input" [(ngModel)]="selectedStat.source.url">
        </div>
    </div>
</div>
<div *ngIf="tab == 'data'">
    <div class="row mt-2">
        <div class="col-sm-6">
            <div style="position: relative" class="mt-2">
                <p style="top: 0.4rem;  left: 0; right: 0; position: absolute; pointer-events: none;" class="text-center">
                    Paste Spreadsheet Columns Here
                </p>
                <textarea class="form-control" [class.is-invalid]="tsvMessage" style="resize: none;" rows="1.5"
                    [ngModel]="tsv" (ngModelChange)="tsvChanged($event)" (paste)="spreadsheetPaste($event)">

                            </textarea>
            </div>
            <div class="text-center">
                <span>or</span>
            </div>
            <div style="position: relative;">
                <input type="file" multiple id="file-input" (change)="fileChange($event)" style="position: fixed;left: 100%;">
                <label class="btn btn-outline-primary btn-block" for="file-input" [style.background]="isDragging ? '#e0f0ff' : ''"
                    (mouseenter)="fileUploadHover=true" (mouseleave)="fileUploadHover=false" (dragenter)="dragEnter($event)"
                    (dragleave)="dragLeave($event)" (dragover)="dragOver($event)" (drop)="drop($event)">
                    {{fileUploadHover ? "Browse Files" : isDragging ? "Drop Files Here" : "Drag Spreadsheet Files
                    Here"}}
                </label>
            </div>
        </div>
        <div class="col-sm-6" [class.mt-2]="!selectedStat.regionIntermediary">
            <div class="row">
                <div class="col-7">
                    <label class="mt-1 mb-1">Region Column</label>
                </div>
                <div class="col-5">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedRegionColumn">
                        <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <label class="mt-1 mb-1">Values Column</label>
                </div>
                <div class="col-5">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedValueColumn">
                        <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                    </select>
                </div>
            </div>
            <div class="row">
                <div class="col-7">
                    <label class="mt-1 mb-1">Start at Row</label>
                </div>
                <div class="col-5">
                    <input class="form-control form-control-sm" style="padding-left: 0.75rem;" [(ngModel)]="startAtRow">
                </div>
            </div>
            <div class="row" *ngIf="selectedStat.regionIntermediary">
                <div class="col-7">
                    <label class="mt-1 mb-1">Intermediary Region</label>
                </div>
                <div class="col-5">
                    <select class="form-control form-control-sm" [(ngModel)]="selectedIntermediaryColumn">
                        <option [ngValue]="'Filename'">Filename</option>
                        <option *ngFor="let letter of letters" [ngValue]="letter">{{letter}}</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="invalid-feedback" [style.display]="dataLoadError ? 'block' : 'none'">
        {{dataLoadError}}
    </div>
    <div class="row mt-2">
        <div class="col-auto">
            <button class="btn btn-sm btn-outline-success" (click)="addData()">
                <i class="fas fa-plus"></i>
                Add Single Data Point
            </button>
            <span class="ml-2" *ngIf="selectedStat.data">{{selectedStat.data.length}} rows</span>
        </div>
        <div class="col"></div>
        <div class="col-auto">
            <button *ngIf="selectedStat.data && selectedStat.data.length" class="btn btn-sm btn-outline-danger" (click)="removeAllData()">
                Remove All Data
            </button>
        </div>
    </div>
    <div *ngIf="!selectedStat.regionIntermediary">
        <div class="row mt-2">
            <div class="col-5">
                <strong class="pl-2">
                    <span class="pl-1">{{selectedStat.regionType}}</span>
                </strong>
            </div>
            <div class="col-5">
                <strong class="pl-2">
                    <span class="pl-1">Value</span>
                </strong>
            </div>
        </div>
        <div class="row mt-1" block-render [items]="selectedStat.data" [itemHeight]="36">
            <ng-template #itemTemplate let-data="item" let-index="index">
                <div class="col-5">
                    <input class="form-control" [(ngModel)]="data.r">
                </div>
                <div class="col-5">
                    <input type="number" class="form-control" [(ngModel)]="data.v">
                </div>
                <div class="col-2">
                    <button class="btn btn-outline-secondary" (click)="removeData(index)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
    <div *ngIf="selectedStat.regionIntermediary">
        <div class="row mt-2">
            <div class="col-4">
                <strong class="pl-2">
                    <span class="pl-1">{{selectedStat.regionIntermediary}}</span>
                </strong>
            </div>
            <div class="col-4">
                <strong class="pl-2">
                    <span class="pl-1">{{selectedStat.regionType}}</span>
                </strong>
            </div>
            <div class="col-3">
                <strong class="pl-2">
                    <span class="pl-1">Value</span>
                </strong>
            </div>
        </div>
        <div class="row mt-1" block-render [items]="selectedStat.data" [itemHeight]="36">
            <ng-template #itemTemplate let-data="item" let-index="index">
                <div class="col-4">
                    <input class="form-control" [(ngModel)]="data.i">
                </div>
                <div class="col-4">
                    <input class="form-control" [(ngModel)]="data.r">
                </div>
                <div class="col-3">
                    <input type="number" class="form-control" [(ngModel)]="data.v">
                </div>
                <div class="col-1">
                    <button class="btn btn-outline-secondary" (click)="removeData(index)">
                        <i class="fas fa-times"></i>
                    </button>
                </div>
            </ng-template>
        </div>
    </div>
</div>
<div *ngIf="tab == 'ipfs'">
    <p>IPFS support in development</p>
    <button class="btn btn-outline-primary" (click)="addStatToIPFS()">
        Add to IPFS
    </button>
</div>