<div class="container-fluid" id="scroll-container">
    <div class="text-center">
        <button class="btn btn-primary" (click)="currentView = 'map'">Map</button>
        <button class="btn btn-primary" (click)="currentView = 'scatterplot'">Scatterplot</button>
        <button class="btn btn-primary" (click)="currentView = 'converter'">Conversion Utilities</button>
    </div>
    <div [ngSwitch]="currentView">
        <map-component *ngSwitchCase="'map'"></map-component>
        <div *ngSwitchCase="'scatterplot'">
            <scatterplot-component></scatterplot-component>
        </div>
        <div *ngSwitchCase="'converter'">
            <converter-component></converter-component>
        </div>
        <div *ngSwitchDefault>
            default
        </div>
    </div>
    <table-component *ngIf="currentView != 'converter'" [indexCount]="currentView == 'scatterplot' ? 2 : 1"></table-component>
</div>
<ng-template>
    <textarea [(ngModel)]="textArea"></textarea>
    <button (click)="parseCSV()">parse</button>
    <div class="svg-container" #svgContainer>
        <color-key></color-key>
    </div>
</ng-template>