/* You can add global styles to this file, and also import other style files */
* {
    box-sizing: border-box;
}

html {
    height: 100%;
}
body {
    margin: 0;
    height: 100%;
}
.container-fluid{
    height: 100%;
    overflow-y: auto; 
    overflow-x: hidden;
    padding: 0;
}

.trans{
    transition: fill 0.3s;
}
.circle-trans{
    transition: cx 2s;
    transition: cy 2s;
}

a {
    cursor: pointer;
    &.active{
        cursor: default;
    }
}

.color-key-container{
    position: relative;
    height: 2vh;
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

.color-key-mark-avg{
    position: absolute;
    z-index: 10;
    top: 0;
    bottom: 0;
    left: 50%;
    border-left: 1px solid red;
}

.color-key-mark-plus-1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 75%;
    border-left: 1px solid gray;
}

.color-key-mark-minus-1{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 25%;
    border-left: 1px solid gray;
}
.color-key-mark-selection{
    position: absolute;
    z-index: 5;
    top: 0;
    height: 100%;
    left: 50%;
    transition: left 0.15s;
}
.color-key-mark-arrows{
    position: relative;
    top: -4px;
    left: -4px;
    height: 100%;
    border: 4px solid black;
    border-color: black transparent black transparent; 
    box-sizing: content-box;
}